<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>智能感知场景</title>
		<link rel="stylesheet" href="css/zngzScene.css" />
	</head>
	<body>
		<div id="container">
			<div id="wrapper-left">
				<div class="sidebar left-sidebar">
					<div class="section-right">
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 1 ? 'active' : '' ">
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div id="meter1_01" :class="selectIndex == 1 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,1)" :data-id="meterList1.list[0] ? meterList1.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div id="meter1_02" :class="selectIndex == 2 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,2)" :data-id="meterList1.list[1] ? meterList1.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div id="meter1_03" :class="selectIndex == 3 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,3)" :data-id="meterList1.list[2] ? meterList1.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div id="meter1_04" :class="selectIndex == 4 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,4)" :data-id="meterList1.list[3] ? meterList1.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div id="meter1_05" :class="selectIndex == 5 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,5)" :data-id="meterList1.list[4] ? meterList1.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div id="meter1_06" :class="selectIndex == 6 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,6)" :data-id="meterList1.list[5] ? meterList1.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div id="meter1_07" :class="selectIndex == 7 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,7)" :data-id="meterList1.list[6] ? meterList1.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div id="meter1_08" :class="selectIndex == 8 ? 'active' : '' " data-box="表箱1" data-target="#electricity-modal" class="meter-item" @click="meterClick($event,8)" :data-id="meterList1.list[7] ? meterList1.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
							<div id="temp-anchor1"></div>
							<div id="temp-anchor2"></div>
							<div id="temp-anchor5"></div>
							<div class="switch-right" >
								<div @mouseenter="switchEnter($event,'1',meterList1.switchItem['eqId'])" @mouseleave="switchLevel($event,'1',meterList1.switchItem['eqId'])">
									<img id="bx1_switch" class="switch switch-img-rt" 
										:src="meterList1.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off_bottom.png' : 'images/zngzScene/switch_rt.png'"/>
									<div :class="switchBox1" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList1.switchItem["eqName"]}}</span>
											<span class="time">{{meterList1.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<div class="title">事件</div>
											<div class="event-list">
												<div class="event-item line clearfix">
													<div class="event-name">停电</div>
													<div class="stop-time">
														<div>
															<div>停电</div>
															<div>2020-01-12 09:31:56</div>
														</div>
													</div>
													<div class="start-time">
														<div>
															<div>复电</div>
															<div>2020-01-12 09:45:56</div>
														</div>
													</div>
												</div>
												<div class="event-item line clearfix">
													<div class="event-name">停电</div>
													<div class="stop-time">
														<div>
															<div>停电</div>
															<div>2020-01-12 09:31:56</div>
														</div>
													</div>
													<div class="start-time">
														<div>
															<div>复电</div>
															<div>2020-01-12 09:45:56</div>
														</div>
													</div>
												</div>
												<div class="event-item clearfix">
													<div class="event-name">停电</div>
													<div class="stop-time">
														<div>
															<div>停电</div>
															<div>2020-01-12 09:31:56</div>
														</div>
													</div>
													<div class="start-time">
														<div>
															<div>复电</div>
															<div>2020-01-12 09:45:56</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<span class="switch-name left-name">{{meterList1.switchItem["eqName"]}}</span>
							</div>
						</div>
					</div>
					<div class="section" style="margin-left: 155px;">
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 2 ? 'active' : '' ">
							<div class="switch-left"  >
								<div @mouseenter="switchEnter($event,'2',meterList2.switchItem['eqId'])" @mouseleave="switchLevel($event,'2',meterList2.switchItem['eqId'])">
									<img id="bx2_switch" class="switch switch-img-lf" 
										:src="meterList2.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox2" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList2.switchItem["eqName"]}}</span>
											<span class="time">{{meterList2.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList2.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList2.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 9 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,1)"  :data-id="meterList2.list[0] ? meterList2.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 10 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,2)"  :data-id="meterList2.list[1] ? meterList2.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 11 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,3)"  :data-id="meterList2.list[2] ? meterList2.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 12 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,4)"  :data-id="meterList2.list[3] ? meterList2.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 13 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,5)"  :data-id="meterList2.list[4] ? meterList2.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 14 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,6)"  :data-id="meterList2.list[5] ? meterList2.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 15 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,7)"  :data-id="meterList2.list[6] ? meterList2.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 16 ? 'active' : '' " data-box="表箱2" data-target="#electricity-modal" @click="meterClick($event,8)"  :data-id="meterList2.list[7] ? meterList2.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 3 ? 'active' : '' ">
							<div class="switch-left"  >
								<div @mouseenter="switchEnter($event,'3',meterList3.switchItem['eqId'])" @mouseleave="switchLevel($event,'3',meterList3.switchItem['eqId'])">
									<img id="bx3_switch" class="switch switch-img-lf" 
										:src="meterList3.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox3" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList3.switchItem["eqName"]}}</span>
											<span class="time">{{meterList3.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList3.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList3.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 17 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,1)"  :data-id="meterList3.list[0] ? meterList3.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 18 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,2)"  :data-id="meterList3.list[1] ? meterList3.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 19 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,3)"  :data-id="meterList3.list[2] ? meterList3.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 20 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,4)"  :data-id="meterList3.list[3] ? meterList3.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 21 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,5)"  :data-id="meterList3.list[4] ? meterList3.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 22 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,6)"  :data-id="meterList3.list[5] ? meterList3.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 23 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,7)"  :data-id="meterList3.list[6] ? meterList3.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 24 ? 'active' : '' " data-box="表箱3" data-target="#electricity-modal" @click="meterClick($event,8)"  :data-id="meterList3.list[7] ? meterList3.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="section section-last" style="margin-left: 155px;">
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 4 ? 'active' : '' ">
							<div class="switch-left">
								<div @mouseenter="switchEnter($event,'4',meterList4.switchItem['eqId'])" @mouseleave="switchLevel($event,'4',meterList4.switchItem['eqId'])">
									<img id="bx4_switch" class="switch switch-img-lf" 
										:src="meterList4.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox4" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList4.switchItem["eqName"]}}</span>
											<span class="time">{{meterList4.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList4.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList4.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 25 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,1)"  :data-id="meterList4.list[0] ? meterList4.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 26 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,2)"  :data-id="meterList4.list[1] ? meterList4.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 27 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,3)"  :data-id="meterList4.list[2] ? meterList4.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 28 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,4)"  :data-id="meterList4.list[3] ? meterList4.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 29 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,5)"  :data-id="meterList4.list[4] ? meterList4.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 30 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,6)"  :data-id="meterList4.list[5] ? meterList4.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 31 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,7)"  :data-id="meterList4.list[6] ? meterList4.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 32 ? 'active' : '' " data-box="表箱4" data-target="#electricity-modal" @click="meterClick($event,8)"  :data-id="meterList4.list[7] ? meterList4.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 5 ? 'active' : '' ">
							<div class="switch-left">
								<div @mouseenter="switchEnter($event,'5',meterList5.switchItem['eqId'])" @mouseleave="switchLevel($event,'5',meterList5.switchItem['eqId'])">
									<img id="bx5_switch" class="switch switch-img-lf" 
										:src="meterList5.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox5" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList5.switchItem["eqName"]}}</span>
											<span class="time">{{meterList5.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList5.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList5.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 33 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,1)"  :data-id="meterList5.list[0] ? meterList5.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 34 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,2)"  :data-id="meterList5.list[1] ? meterList5.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 35 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,3)"  :data-id="meterList5.list[2] ? meterList5.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 36 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,4)"  :data-id="meterList5.list[3] ? meterList5.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 37 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,5)"  :data-id="meterList5.list[4] ? meterList5.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 38 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,6)"  :data-id="meterList5.list[5] ? meterList5.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 39 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,7)"  :data-id="meterList5.list[6] ? meterList5.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 40 ? 'active' : '' " data-box="表箱5" data-target="#electricity-modal" @click="meterClick($event,8)"  :data-id="meterList5.list[7] ? meterList5.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main">
					<div id="switch-room">
							<img class="transformer" src="images/zngzScene/transformer.png" alt="" />
							<div id="pds-switch" class="switch-left" @mouseenter="showBox1 = 'show';" @mouseleave="showBox1 = false">
								<img  src="images/zngzScene/switch_lf.png"/>
								<span class="switch-name pds-switch-name">K401</span>
								<div :class="showBox1" class="switch-box arrow-box right">
									<div class="switch-title">
										<span>K401</span>
										<span class="time">2019-12-11 10:36</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">220</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">220</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">220</div>
										</div>
									</div>
									<div class="event">
										<span>事件:</span>
									</div>
								</div>
							</div>
					</div>
					<div id="branch-box">
						<div id="branch-switch" class="switch-left" @mouseenter="showBoxBr = 'show';" @mouseleave="showBoxBr = false">
							<img  src="images/zngzScene/switch_lf.png" />
							<span class="switch-name pds-switch-name">K401</span>
							<div :class="showBoxBr" class="switch-box arrow-box right">
								<div class="switch-title">
									<span>K401</span>
									<span class="time">2019-11-22 10:36</span>
								</div>
								<div class="switch-info">
									<div>
										<div class="title">电压</div>
										<div class="voltage content">100V</div>
									</div>
									<div>
										<div class="title">电流</div>
										<div class="current content">100A</div>
									</div>
									<div>
										<div class="title">电量</div>
										<div class="electric content">100KW</div>
									</div>
								</div>
								<div class="event">
									<span>事件:</span>
								</div>
							</div>
						</div>
						<div class="switch-list">
							<div class="switch-left" @mouseenter="showBox2 = 'show';" @mouseleave="showBox2 = false">
								<img id="branch-switch-sub1" class="switch-list-img" src="images/zngzScene/switch_off.png"/>
								<span class="switch-name left-name switch-list-span">K421</span>
								<div :class="showBox2" class="switch-list-box arrow-box right">
									<div class="switch-title">
										<span>K421</span>
										<span class="time">2019-11-22 10:36</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>事件:</span>
									</div>
								</div>
							</div>
							<div class="switch-left" @mouseenter="showBox3 = 'show';" @mouseleave="showBox3 = false">
								<img id="branch-switch-sub2" class="switch-list-img" src="images/zngzScene/switch_lf.png"/>
								<span class="switch-name left-name switch-list-span">K422</span>
								<div :class="showBox3" class="switch-list-box arrow-box right">
									<div class="switch-title">
										<span>K422</span>
										<span class="time">2019-11-22 10:36</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>事件:</span>
									</div>
								</div>
							</div>
							<div class="switch-left" @mouseenter="showBox4 = 'show';" @mouseleave="showBox4 = false">
								<img id="branch-switch-sub3" class="switch-list-img" src="images/zngzScene/switch_lf.png"/>
								<span class="switch-name left-name switch-list-span">K423</span>
								<div :class="showBox4" class="switch-list-box arrow-box right">
									<div class="switch-title">
										<span>K423</span>
										<span class="time">2019-11-22 10:36</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>事件:</span>
									</div>
								</div>
							</div>
							<div class="switch-left" @mouseenter="showBox5 = 'show';" @mouseleave="showBox5 = false">
								<img id="branch-switch-sub4"  class="switch-list-img" src="images/zngzScene/switch_lf.png"/>
								<span class="switch-name left-name switch-list-span">K424</span>
								<div :class="showBox5" class="switch-list-box arrow-box right">
									<div class="switch-title">
										<span>K424</span>
										<span class="time">2019-11-22 10:36</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>事件:</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section section-main">
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 6 ? 'active' : '' ">
							<div class="switch-left">
								<div @mouseenter="switchEnter($event,'6',meterList6.switchItem['eqId'])" @mouseleave="switchLevel($event,'6',meterList6.switchItem['eqId'])">
									<img id="bx6_switch" class="switch switch-img-lf" 
										:src="meterList6.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox6" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList6.switchItem["eqName"]}}</span>
											<span class="time">{{meterList6.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList6.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList6.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 41 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList6.list[0] ? meterList6.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 42 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList6.list[1] ? meterList6.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 43 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList6.list[2] ? meterList6.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 44 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList6.list[3] ? meterList6.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 45 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList6.list[4] ? meterList6.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 46 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList6.list[5] ? meterList6.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 47 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList6.list[6] ? meterList6.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 48 ? 'active' : '' " data-box="表箱6" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList6.list[7] ? meterList6.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
						<div class="meter-box" :class="Math.ceil(selectIndex/8) == 7 ? 'active' : '' ">
							<div class="switch-left">
								<div @mouseenter="switchEnter($event,'7',meterList7.switchItem['eqId'])" @mouseleave="switchLevel($event,'7',meterList7.switchItem['eqId'])">
									<img id="bx7_switch" class="switch switch-img-lf" 
										:src="meterList7.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
									<div :class="switchBox7" class="switch-box switch-box-left arrow-box right">
										<div class="switch-title">
											<span>{{meterList7.switchItem["eqName"]}}</span>
											<span class="time">{{meterList7.detail.dataTime}}</span>
										</div>
										<div class="switch-info">
											<div>
												<div class="title">电压</div>
												<div class="voltage content">100V</div>
											</div>
											<div>
												<div class="title">电流</div>
												<div class="current content">100A</div>
											</div>
											<div>
												<div class="title">电量</div>
												<div class="electric content">100KW</div>
											</div>
										</div>
										<div class="event">
											<span>{{meterList7.detail.event}}</span>
										</div>
									</div>
								</div>
								<span class="switch-name right-name">{{meterList7.switchItem["eqName"]}}</span>
							</div>
							<div class="meter-box-wrapper">
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 49 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList7.list[0] ? meterList7.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
									<div class="meter-item" :class="selectIndex == 50 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList7.list[1] ? meterList7.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
									<div class="meter-item" :class="selectIndex == 51 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList7.list[2] ? meterList7.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
									<div class="meter-item" :class="selectIndex == 52 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList7.list[3] ? meterList7.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
								</div>
								<div class="meter-list">
									<div class="meter-item" :class="selectIndex == 53 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList7.list[4] ? meterList7.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
									<div class="meter-item" :class="selectIndex == 54 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList7.list[5] ? meterList7.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
									<div class="meter-item" :class="selectIndex == 55 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList7.list[6] ? meterList7.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
									<div class="meter-item" :class="selectIndex == 56 ? 'active' : '' " data-box="表箱7" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList7.list[7] ? meterList7.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar right-sidebar">
				<div class="section-left">
					<div class="meter-box" :class="Math.ceil(selectIndex/8) == 10 ? 'active' : '' ">
						<div class="meter-box-wrapper">
							<div class="meter-list">
								<div id="meter10_01" class="meter-item" :class="selectIndex == 73 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList10[0] ? meterList10.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
								<div id="meter10_02" class="meter-item" :class="selectIndex == 74 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList10[1] ? meterList10.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
								<div id="meter10_03" class="meter-item" :class="selectIndex == 75 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList10[2] ? meterList10.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
								<div id="meter10_04" class="meter-item" :class="selectIndex == 76 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList10[3] ? meterList10.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
							</div>
							<div class="meter-list">
								<div id="meter10_05" class="meter-item" :class="selectIndex == 77 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList10[4] ? meterList10.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
								<div id="meter10_06" class="meter-item" :class="selectIndex == 78 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList10[5] ? meterList10.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
								<div id="meter10_07" class="meter-item" :class="selectIndex == 79 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList10[6] ? meterList10.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
								<div id="meter10_08" class="meter-item" :class="selectIndex == 80 ? 'active' : '' " data-box="表箱10" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList10[7] ? meterList10.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
							</div>
						</div>
						<div id="temp-anchor3"></div>
						<div id="temp-anchor4"></div>
						<div class="switch-right">
							<div @mouseenter="switchEnter($event,'10',meterList10.switchItem['eqId'])" @mouseleave="switchLevel($event,'10',meterList10.switchItem['eqId'])">
								<img id="bx10_switch" class="switch switch-img-rt" 
									:src="meterList10.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off_bottom.png' : 'images/zngzScene/switch_rt.png'"/>
								<div :class="switchBox10" class="switch-box switch-box-left arrow-box right">
									<div class="switch-title">
										<span>{{meterList10.switchItem["eqName"]}}</span>
										<span class="time">{{meterList10.detail.dataTime}}</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>{{meterList10.detail.event}}</span>
									</div>
								</div>
							</div>
							<span class="switch-name left-name">{{meterList10.switchItem["eqName"]}}</span>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="meter-box" :class="Math.ceil(selectIndex/8) == 11 ? 'active' : '' ">
						<div class="switch-left">
							<div @mouseenter="switchEnter($event,'11',meterList11.switchItem['eqId'])" @mouseleave="switchLevel($event,'11',meterList11.switchItem['eqId'])">
								<img id="bx11_switch" class="switch switch-img-lf" 
									:src="meterList11.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
								<div :class="switchBox11" class="switch-box switch-box-left arrow-box right">
									<div class="switch-title">
										<span>{{meterList11.switchItem["eqName"]}}</span>
										<span class="time">{{meterList11.detail.dataTime}}</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>{{meterList11.detail.event}}</span>
									</div>
								</div>
							</div>
							<span class="switch-name right-name">{{meterList11.switchItem["eqName"]}}</span>
						</div>
						<div class="meter-box-wrapper">
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 81 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList11.list[0] ? meterList11.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
								<div class="meter-item" :class="selectIndex == 82 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList11.list[1] ? meterList11.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
								<div class="meter-item" :class="selectIndex == 83 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList11.list[2] ? meterList11.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
								<div class="meter-item" :class="selectIndex == 84 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList11.list[3] ? meterList11.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
							</div>
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 85 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList11.list[4] ? meterList11.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
								<div class="meter-item" :class="selectIndex == 86 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList11.list[5] ? meterList11.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
								<div class="meter-item" :class="selectIndex == 87 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList11.list[6] ? meterList11.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
								<div class="meter-item" :class="selectIndex == 88 ? 'active' : '' " data-box="表箱11" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList11.list[7] ? meterList11.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
							</div>
						</div>
					</div>
					<div class="meter-box" :class="Math.ceil(selectIndex/8) == 12 ? 'active' : '' ">
						<div class="switch-left">
							<div @mouseenter="switchEnter($event,'12',meterList12.switchItem['eqId'])" @mouseleave="switchLevel($event,'12',meterList12.switchItem['eqId'])">
								<img id="bx12_switch" class="switch switch-img-lf" 
									:src="meterList12.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
								<div :class="switchBox12" class="switch-box switch-box-left arrow-box right">
									<div class="switch-title">
										<span>{{meterList12.switchItem["eqName"]}}</span>
										<span class="time">{{meterList12.detail.dataTime}}</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>{{meterList12.detail.event}}</span>
									</div>
								</div>
							</div>
							<span class="switch-name right-name">{{meterList12.switchItem["eqName"]}}</span>
						</div>
						<div class="meter-box-wrapper">
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 89 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList12.list[0] ? meterList12.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
								<div class="meter-item" :class="selectIndex == 90 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList12.list[1] ? meterList12.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
								<div class="meter-item" :class="selectIndex == 91 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList12.list[2] ? meterList12.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
								<div class="meter-item" :class="selectIndex == 92 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList12.list[3] ? meterList12.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
							</div>
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 93 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList12.list[4] ? meterList12.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
								<div class="meter-item" :class="selectIndex == 94 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList12.list[5] ? meterList12.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
								<div class="meter-item" :class="selectIndex == 95 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList12.list[6] ? meterList12.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
								<div class="meter-item" :class="selectIndex == 96 ? 'active' : '' " data-box="表箱12" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList12.list[7] ? meterList12.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="section section-last">
					<div class="meter-box" :class="Math.ceil(selectIndex/8) == 8 ? 'active' : '' ">
						<div class="switch-left">
							<div @mouseenter="switchEnter($event,'8',meterList8.switchItem['eqId'])" @mouseleave="switchLevel($event,'8',meterList8.switchItem['eqId'])">
								<img id="bx8_switch" class="switch switch-img-lf" 
									:src="meterList8.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
								<div :class="switchBox8" class="switch-box switch-box-left arrow-box right">
									<div class="switch-title">
										<span>{{meterList8.switchItem["eqName"]}}</span>
										<span class="time">{{meterList8.detail.dataTime}}</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>{{meterList8.detail.event}}</span>
									</div>
								</div>
							</div>
							<span class="switch-name right-name">{{meterList8.switchItem["eqName"]}}</span>
						</div>
						<div class="meter-box-wrapper">
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 57 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList8.list[0] ? meterList8.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
								<div class="meter-item" :class="selectIndex == 58 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList8.list[1] ? meterList8.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
								<div class="meter-item" :class="selectIndex == 59 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList8.list[2] ? meterList8.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
								<div class="meter-item" :class="selectIndex == 60 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList8.list[3] ? meterList8.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
							</div>
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 61 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList8.list[4] ? meterList8.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
								<div class="meter-item" :class="selectIndex == 62 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList8.list[5] ? meterList8.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
								<div class="meter-item" :class="selectIndex == 63 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList8.list[6] ? meterList8.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
								<div class="meter-item" :class="selectIndex == 64 ? 'active' : '' " data-box="表箱8" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList8.list[7] ? meterList8.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
							</div>
						</div>
					</div>
					<div class="meter-box" :class="Math.ceil(selectIndex/8) == 9 ? 'active' : '' ">
						<div class="switch-left">
							<div @mouseenter="switchEnter($event,'9',meterList9.switchItem['eqId'])" @mouseleave="switchLevel($event,'9',meterList9.switchItem['eqId'])">
								<img id="bx9_switch" class="switch switch-img-lf" 
									:src="meterList9.switchItem['openStatus'] =='0' ? 'images/zngzScene/switch_off.png' : 'images/zngzScene/switch_lf.png'"/>
								<div :class="switchBox9" class="switch-box switch-box-left arrow-box right">
									<div class="switch-title">
										<span>{{meterList9.switchItem["eqName"]}}</span>
										<span class="time">{{meterList9.detail.dataTime}}</span>
									</div>
									<div class="switch-info">
										<div>
											<div class="title">电压</div>
											<div class="voltage content">100V</div>
										</div>
										<div>
											<div class="title">电流</div>
											<div class="current content">100A</div>
										</div>
										<div>
											<div class="title">电量</div>
											<div class="electric content">100KW</div>
										</div>
									</div>
									<div class="event">
										<span>{{meterList9.detail.event}}</span>
									</div>
								</div>
							</div>
							<span class="switch-name right-name">{{meterList9.switchItem["eqName"]}}</span>
						</div>
						<div class="meter-box-wrapper">
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 65 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,1)"  :data-id="meterList9.list[0] ? meterList9.list[0]['eqId'] : '' "><div class="meter-item-num">1号</div></div>
								<div class="meter-item" :class="selectIndex == 66 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,2)"  :data-id="meterList9.list[1] ? meterList9.list[1]['eqId'] : '' "><div class="meter-item-num">2号</div></div>
								<div class="meter-item" :class="selectIndex == 67 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,3)"  :data-id="meterList9.list[2] ? meterList9.list[2]['eqId'] : '' "><div class="meter-item-num">3号</div></div>
								<div class="meter-item" :class="selectIndex == 68 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,4)"  :data-id="meterList9.list[3] ? meterList9.list[3]['eqId'] : '' "><div class="meter-item-num">4号</div></div>
							</div>
							<div class="meter-list">
								<div class="meter-item" :class="selectIndex == 69 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,5)"  :data-id="meterList9.list[4] ? meterList9.list[4]['eqId'] : '' "><div class="meter-item-num">5号</div></div>
								<div class="meter-item" :class="selectIndex == 70 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,6)"  :data-id="meterList9.list[5] ? meterList9.list[5]['eqId'] : '' "><div class="meter-item-num">6号</div></div>
								<div class="meter-item" :class="selectIndex == 71 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,7)"  :data-id="meterList9.list[6] ? meterList9.list[6]['eqId'] : '' "><div class="meter-item-num">7号</div></div>
								<div class="meter-item" :class="selectIndex == 72 ? 'active' : '' " data-box="表箱9" data-target="#electricity-modal"  @click="meterClick($event,8)"  :data-id="meterList9.list[7] ? meterList9.list[7]['eqId'] : '' "><div class="meter-item-num">8号</div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div id="wrapper-right">
				<div id="meter-modal">
				    	<div class="title">
				    		<span class="t1">{{meterDetail.title1}}</span>
				    		<span class="t2">{{meterDetail.title2}}</span>
				    	</div>
				    	<div id="chart-title">
				    		<div class="bg-line"></div>
				    		<div class="title">
				    			<span>电量曲线</span>
				    		</div>
				    	</div>
				    	<div id="electric-chart"></div>
				    	<div id="detailInfo">
				    		<div class="section-one">
				    			<div  id="meter-lg" class="meter-lg-box">
				    				<img src="images/zngzScene/meter_lg.jpg" alt="" />
				    			</div>
				    			<div class="section-one-right">
				    				<div class="line line-one">
				    					<div class="text-left">
				    						<div>电量(kwh)</div>
				    						<div class="text">{{meterDetail.elec | emptyFilter}}</div>
				    					</div>
				    					<div class="text-center">
				    						<span class="split-line"></span>
				    					</div>
				    					<div class="text-right">
				    						<div>示数(kwh)</div>
				    						<div class="text">{{meterDetail.num | emptyFilter}}</div>
				    					</div>
				    				</div>
				    				<div class="line line-two">
				    					<div>
				    						<div class="title">A相电流</div>
				    						<div><span class="val">{{meterDetail.currentA | emptyFilter}}</span><span v-if="meterDetail.currentA">A</span></div>
				    					</div>
				    					<div>
				    						<div class="title">B相电流</div>
				    						<div><span class="val">{{meterDetail.currentB | emptyFilter}}</span><span v-if="meterDetail.currentB">A</span></div>
				    					</div>
				    					<div>
				    						<div class="title">C相电流</div>
				    						<div><span class="val">{{meterDetail.currentC | emptyFilter}}</span><span v-if="meterDetail.currentC">A</span></div>
				    					</div>
				    				</div>
				    				<div class="line line-three">
				    					<div>
				    						<div class="title">A相电压</div>
				    						<div><span class="val">{{meterDetail.voltageA | emptyFilter}}</span><span v-if="meterDetail.voltageA">V</span></div>
				    					</div>
				    					<div>
				    						<div class="title">B相电压</div>
				    						<div><span class="val">{{meterDetail.voltageB | emptyFilter}}</span><span v-if="meterDetail.voltageA">V</span></div>
				    					</div>
				    					<div>
				    						<div class="title">C相电压</div>
				    						<div><span class="val">{{meterDetail.voltageC | emptyFilter}}</span><span v-if="meterDetail.voltageA">V</span></div>
				    					</div>
				    				</div>
				    			</div>
				    		</div>
				    		<div class="section-two">
				    			<div>
				    				<img id="airCondition" src="images/zngzScene/airConditioner.png" alt="" :data-id="meterDetail.conditioner['eqId']"/>
				    			</div>
				    			<div>
				    				<img id="geyser" src="images/zngzScene/geyser.png" alt="" :data-id="meterDetail.geyser['eqId']"/>
				    			</div>
				    			<div>
				    				<img id="iceBox" src="images/zngzScene/iceBox.png" :data-id="meterDetail.fridge['eqId']"/>
				    			</div>
				    		</div>
				    		<div class="section-three">空调用电信息数据</div>
				    	</div>
				    </div>
			</div>
		</div>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="common/jsPlumb/2.9.2/js/jsplumb.min.js"></script>
		<script src="common/js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/scene-old.js"></script>
		<script type="text/javascript" src="js/zngzScene.js"></script>
	</body>
</html>
